.bg-img {
    background-image: url('https://images.pexels.com/photos/276528/pexels-photo-276528.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    opacity: 0.7;
    box-shadow: 0 0 30px 30px rgba(45,37,26,1) inset;
  }
